[Unit]
Description=IoT Middleware - Core
After=middleware-influx.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
User=dme
ExecStart=/home/dme/middleware/middleware

[Install]
WantedBy=multi-user.target
